{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div class="container">
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Symbols</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] |usd }}</td>
                <td>{{ row["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}